/*Principal fonts*/
.icon_menu {
  border: none;
  background: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 1vw;
  margin: auto;
  z-index: 99;
}

body {
  color: #000000;
  background-color: #EAEAEA;
  font-family: "Quicksand", sans-serif;
}

.blackColor {
  color: #000000;
}

.blueColor {
  color: #0071BC;
}

button {
  cursor: pointer;
}
