@import _variables
@import _header
body
  color: $blackColor
  background-color: $grayColor
  font-family: $principalFont

.blackColor
  color: $blackColor

.blueColor
  color: $blueColor

button
  cursor: pointer