@import _animations
@import _variables
@import _header
@import _menu
@import _home
@import _about

body
  color: $blackColor
  background-color: $grayColor
  font-family: $principalFont

.blackColor
  color: $blackColor

.blueColor
  color: $blueColor

button
  cursor: pointer